*{ padding:0px;
	margin:0px;
}
a{
	text-decoration:none;
	color:#333333;
}
body{ line-height:200%; font-size:14px;}


#bigbox{
	width:870px;
	margin:0 auto;
	background:url(../img/bg.gif);
	
}
#box{
	width:850px;
	margin:0 auto;
	
}
.top{
	height:303px;
	background:url(../img/top.jpg) left center no-repeat;
	position:relative;
}
.nav{
	height:35px;
	border:;
	position:absolute;
	bottom:30px;
	width:100%;
}
.nav ul{
	list-style-type:none;
	padding-left:90px;
}
.nav ul li{
	width:90px;
	height:35px;
	float:left;
	text-align:center;
	line-height:35px;
	font-size:15px;
}
.nav ul li a{
	display:block;
	width:90px;
	height:35px;
	color:#000000;
}
.nav ul li a:hover{
	background:#000000;
	color:#FFFFFF;
}

.con{
	height:400px;
	overflow:auto;
	padding-left:20px;
	padding-right:20px;
}
.footer{
	height:40px;
	background:url(../img/footer_bg.gif) center top no-repeat;
	font-size:12px;
	text-align:center;
	padding:30px;
}